.contact-page-wrapper {
    display: flex;
    justify-content: center;
    padding-top: 20px;

    .contact-info {
        font-size: 1.5em;
        padding-bottom: 10px;
    }

    .contact-form-wrapper {
        padding-top: 30px;
    }

    
}